* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: #ffffff; /* Dark text color */
}

body {
    padding: 20px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #ffffff; /* Change link color to white */
}

input[type="text"],
input[type="password"],
button,
textarea {
    font-family: 'Consolas', sans-serif;
    font-size: 22px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    margin: 1rem;
}

input[type="text"],
input[type="password"],
textarea {
    border: 1px solid #999999;
    background: #f2f2f2; /* Light gray background */
    color: #333333;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    border: 1px solid #cccccc;
}

label,
button {
    margin-top: 1rem;
}

.btn-danger {
    background-color:  black;
    color: #ffffff;

    padding: 0.2rem;
    font-size: 15px;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: black;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

button:hover,
button:focus-visible {
    background-color: #cc0000;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.header {
    font-size: 24px;
    margin-bottom: 15px;
}

.list {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list li {
    display: flex;

}

.list li label {
    cursor: pointer;
}

.list li label input {
    margin-right: 10px; /* Adjust the space between the checkbox and the title */
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}
